// Principal color
$principal:#2633c7;
$secondary:#98ded9; 
$thirth:#c7ffd8;

// Neutro
$white:#ffffff;
$white2:#fafafa;
$white3:#eeeeee;

// Black
$black1:#141414;
$black2:#333333;
$black3:#222831;


.black-color{
    color:$black1;
}
.white-color{
    color:$white;
}
